<!DOCTYPE html>
<html>
	<head>
		<title>K&P East/West</title>
		<link rel='stylesheet' href='/stylesheets/reset.css' />
		<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="http://code.jquery.com/jquery-latest.min.js"
        type="text/javascript"></script>
		<script src="/javascripts/angular.min.js"></script>
		<script src="/javascripts/angularApp.js"></script>
		<script src="/javascripts/ui-bootstrap-tpls-0.11.2.min.js"></script>
	</head>
	<body ng-app="east-west">
		<div class="container">
			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">K&P</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">East/West</a></li>
					<li><a href="/">Key</a></li>
					<li><a href="/">Peele</a></li>
				</ul>
			</nav>
			<div class="eastWestBowl">
				<div ng-controller="eastSide" id="eastSlides" class="col-md-6">
					<h2 class="center">East</h2><hr>
					<carousel id="eastCarousel">
						<slide ng-repeat="player in eastPlayers" active="player.active">
							<img ng-src="{{player.image}}">
							<div class="carousel-caption">
								<h3>{{player.name}}</h3>
								<h5>University</h5>
							</div>
						</slide>
					</carousel>
				</div>

				<div ng-controller="westSide" id="westSlides" class="col-md-6">
					<h2 class="center">West</h2><hr>
					<carousel>
						<slide ng-repeat="player in westPlayers" active="player.active">
							<img ng-src="{{player.image}}">
							<div class="carousel-caption">
								<h3>{{player.name}}</h3>
								<h5>University</h5>
							</div>
						</slide>
					</carousel>
				</div>
			</div>
		</div>
	</body>
</html>
