html{
	width: 100%;
	font-size: 14px;
	font-family: sans-serif;
}

body{
	width: 100%;
	margin: 0 auto;
	padding: 50px;
	background: #222;
}

h2{
	color: #fff;
}

a {
  color: #00B7FF;
}

.carousel{
	margin-bottom: 200px;
}

.carousel-indicators{
	margin-bottom: -170px;
	
}

.carousel-indicators li {
	background-size : 42px 22px;
	width : 42px;
	height: 22px;
	border-radius : 0px;
	text-indent : 0px;
	background-repeat : no-repeat;
	background-position : center;
	cursor : pointer;
}

.carousel-indicators .active {
	background-size : 42px 22px;
	width : 42px;
	height: 22px;
	opacity: 0.5;
	background-repeat : no-repeat;
	background-position : center;
	cursor : pointer;
}

.carousel-indicators li:nth-child(1){
	background-image: url(/images/default.jpg);
}
.carousel img,
.carousel img{
	width: 75%;
	text-align: center;
	margin: 0 auto;
}

.left, .right{
	cursor: pointer;
}

.flexBox{
	display: flex;
}

.center{
	text-align: center;
}

.inBlockBox{
	display: inline-block;
}